.overvlow {
  /* overflow: hidden; */
}
.modalBackDrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2em 0;
  background: var(--black);
  backdrop-filter: blur(1em);
  transition: all 2s ease-in-out;
  overflow: auto;
  z-index: 51;
}
.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* width: 29em; */
  margin: auto;
  /* background: var(--black); */
  border-radius: 1.5em;
}
.btn {
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  line-height: 112%;
  color: var(--black);
  padding: 0.7em 2em;
  margin-top: 2.4em;
  background-color: var(--green);
  transition: all 0.3s ease-in-out;
  clip-path: polygon(0% 0%, 100% 1%, 100% 70%, 90% 100%, 0% 100%);
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: var(--white);
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item {
  font-style: normal;
  font-weight: 400;
  font-size: 4em;
  line-height: 131.5%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.item:hover,
.item:focus {
  color: var(--green);
}
.navlink {
  color: inherit;
}
@media screen and (max-width: 376px) {
  .container {
    font-size: 2.2em;
  }
}
