@import "../../vars.css";
.section {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 52;
  width: 100%;
  background-color: var(--mainBg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1em solid #323232;
  padding: 3em 7em;
}
.logo {
  width: 15em;
  cursor: pointer;
}
.menu {
  display: flex;
  align-items: baseline;
  color: var(--green);
  cursor: pointer;
}
.menu:hover .item,
.menu:focus .item {
  background-color: var(--white);
}
.menu:hover .name,
.menu:focus .name {
  color: var(--white);
}
.name {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2em;
  transition: all 0.3s ease-in-out;
}
.mail {
  color: var(--green);
  font-style: normal;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 112%;
  display: flex;
  align-items: center;
}
.mail:hover,
.mail:focus {
  text-decoration: underline;
}
.items {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1em;
  height: 0.5625em;
  margin-right: 0.625em;
}
.item {
  position: absolute;
  height: 0.07em;
  width: 1.3em;
  background-color: var(--green);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out, width 0.3s ease-in-out;
}
.item:first-child {
  top: 0;
  left: 50%;
  transform: translate(-50%) rotate(0.01deg);
}
.item:nth-child(2) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0.01deg);
}
.item:nth-child(3) {
  bottom: 0;
  left: 50%;
  transform: translate(-50%) rotate(0.01deg);
}
.active .item:first-child {
  transform: translate(-50%, 0.225em) rotate(45deg);
}
.active .item:nth-child(2) {
  width: 0;
}
.active .item:nth-child(3) {
  transform: translate(-50%, -0.25em) rotate(-45deg);
}
@media screen and (max-width: 376px) {
  .mail {
    display: none;
  }
  .logo {
    width: 45em;
  }
  .menu {
    font-size: 3.725em;
  }
}
