@import "../../vars.css";
.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em 7em;
}
.logo {
  width: 15em;
  cursor: pointer;
}
.rights {
  color: var(--white);
  font-style: normal;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 112%;
  display: flex;
  align-items: center;
}
.mail {
  composes: rights;
  text-decoration: underline;
}
.list {
  display: flex;
  justify-content: space-between;
}
.item {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 131.5%;
  cursor: pointer;
}
.item:hover,
.item:focus {
  color: var(--green);
}
.item:not(:last-child) {
  margin-right: 5em;
}
.item a {
  color: inherit;
}
.navlink {
  color: inherit;
}
@media screen and (max-width: 376px) {
  .section {
    flex-direction: column;
  }
  .logo {
    width: 59em;
    margin-top: 13.15em;
  }
  .menu {
    font-size: 3.725em;
  }
  .list {
    flex-direction: column;
    margin: 9.65em 0;
    align-items: center;
  }
  .item {
    margin: 0.8em 0;
    font-size: 4.5em;
  }
  .item:not(:last-child) {
    margin-right: 0;
  }
  .rights {
    font-size: 4.5em;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mail {
    margin-top: 0.85em;
  }
}
