@import "../../vars.css";

.section {
  overflow: hidden;
}

.container {
  display: flex;
  width: 200%;
  animation: infinity 10s linear infinite;
}
.list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container:hover,
.container:focus {
  animation-play-state: paused;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1em solid var(--grey);
  /* width: calc(100% / 5); */
  /* width: 40em; */
  padding: 2.5em 6.5em;
}
.icon {
  width: 100%;
}
.text {
  padding: 0.85em 0;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 2.925em;
  line-height: 112%;
  letter-spacing: 0.165em;
  text-transform: uppercase;
}
.text span {
  color: var(--green);
}
@keyframes infinity {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 376px) {
  .icon {
    width: 40em;
  }
  .container {
    width: 446%;
  }
  .text {
    padding: 0 0.2em;
    font-size: 6em;
    text-align: unset;
  }
}
