body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  font-size: 0.833vw;
  height: 100%;
  background-color: var(--mainBg);
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SKConcretica;
  text-decoration: none;
  list-style: none;
}
img,
video {
  max-width: 100%;
  height: auto;
}
.swiper-slide {
  padding-bottom: 2em;
}
.swiper,
swiper-container {
  position: static !important;
}
.swiper-scrollbar-drag {
  background: #bbff4b !important;
}
.swiper-pagination-fraction {
  font-size: 1.5em !important;
  color: #bbff4b !important;
}
::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--green);
  border-radius: 0.2em;
  transition: all 2s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--white);
  transition: all 2s ease-in-out;
}

@font-face {
  font-family: "BEXAGO";
  /* font-weight: 800; */
  src: local("BEXAGO"), url(./fonts/BEXAGOOutline.ttf) format("opentype");
}
@font-face {
  font-family: "BEXAGO";
  /* font-weight: 800; */
  src: local("BEXAGO"), url(./fonts/BEXAGORegular.ttf) format("opentype");
}
@font-face {
  font-family: "SKConcretica";
  /* font-weight: 600; */
  src: local("SKConcretica"),
    url(./fonts/SKConcreticaRegular.ttf) format("opentype");
}
@media (orientation: landscape) and (min-aspect-ratio: 1920 / 853) {
  html {
    font-size: 0.65vw;
  }
}
@media (orientation: landscape) and (min-aspect-ratio: 15 / 7) {
  html {
    font-size: 0.67vw;
  }
}
@media (orientation: landscape) and (min-aspect-ratio: 640 / 311) {
  html {
    font-size: 0.7vw;
  }
}
@media (orientation: landscape) and (min-aspect-ratio: 80 / 41) {
  html {
    font-size: 0.73vw;
  }
}
@media (orientation: landscape) and (min-aspect-ratio: 1920 / 1007) {
  html {
    font-size: 0.76vw;
  }
}
@media (orientation: landscape) and (min-aspect-ratio: 384 / 209) {
  html {
    font-size: 0.8vw;
  }
}
